@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,600&display=swap');
/* @font-face{
	font-family: 'Montserrat-SemiBold';
		src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
	font-family: 'Montserrat-Regular';
		src: url('fonts/Montserrat-Regular.ttf') format('truetype');
} */

:root{
    --bg: #000000;
    --yellow: #CDDD51;
    --blue: #0056c4;
    --front:#FFFFFF;
    }

p {
    margin: 0;
}

p+p {
    margin-top: 10px;
}

body,
html {
    height: calc(100%-10px);
    width: calc(100%-10px);
    background-color: var(--bg);
    /* border: 5px solid var(--yellow); */
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}



/*
====================Home====================
============================================
*/



#home-container {
    background: var(--bg);
    position: absolute;
    /* margin: 0; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: -1;
    /* border: 5px solid var(--yellow); */

}

#home-bg {
    /* width: 50%; */
    /* max-width: 200%; */
    max-height: 80vh;
    /* min-height: 75vh; */
    /* width: 100vw; */
    width: auto;
    height: auto;
    /* position: absolute; */
    /* left: 50%; */
    top: 0%;
    left: 50%;
    /* transform: translatex(-50%); */
    /* border: 5px solid var(--yellow); */
    z-index: -1;
    overflow: hidden;
}

#home-bg-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    position: absolute;
    top: 0;
    /* filter: alpha(opacity=75); */
    /* opacity: 75%; */
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";

    /* IE 5-7 */
    filter: alpha(opacity=75);

    /* Netscape */
    -moz-opacity: .75;

    /* Safari 1.x */
    -khtml-opacity: .75;

    /* Good browsers */
    opacity: .75;
    /* border: 5px solid var(--yellow); */
    z-index: 0;
}

#splash-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* border: 50px solid var(--yellow); */
    align-content: center;
    z-index: 1;
}

#splash-text {
    width: 100%;
    overflow: hidden;
    display: block;
}

#splash-text span {
    margin: 1vmin;
    border-right: 1vmin solid var(--yellow);
    animation: caret 01s infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
        transform: scale(1.1);
    }
}

/* #logo{ */
/* border: 5px solid var(--yellow); */
/* } */



/*
====================Floating====================
================================================
*/



#floating-container {
    background: var(--bg);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 5px solid var(--yellow);
}

#theme-toggle-icon {
    color: white;
    position: absolute;
    right: 0%;
    bottom: 0%;
    /* border: 5px solid var(--yellow); */
    z-index: 9999;
    transition:
        color 0.35s;
}

#theme-toggle-icon:hover {
    color: var(--yellow);
}

#theme-toggle-icon:focus {
    color: var(--yellow);
}




/*
====================Preloader====================
=================================================
*/



#preloader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg);
    z-index: 9999;
}

/* #preloader-text{
    /* border: 5px solid var(--yellow); 
} */

#preloader-text {
    text-align: center;
}



/*================Loading dots================*/



/* state when the dots are hidden */
/* (it's easier this way to include cross-browser capability) */
.loading-dots-hidden {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 0;

    /* Good browsers */
    opacity: 0;
}

/* state when dots are visible */
.loading-dots {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
}

#preloader-content {
    padding: 1vw 1vw 1vh 1vw;
}

#preloader-image {
    /* background-image: url("preloader.gif"); */
    /* background-repeat: no-repeat; */
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 50%;
}

#preloader-text {
    width: calc(100%);
    padding: 0;
    margin: 0;
    /* opacity: 50%; */
    /* background: var(--blue); */
    position: absolute;
    /* left: 50%; */
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--front);
    text-align: center;
}




/*
====================Colours====================
===============================================
*/



.st0 {
    fill: var(--blue);
}

.st1 {
    fill: var(--front);
}

.st2 {
    fill: #e86600;
}

.st3 {
    fill: var(--yellow);
}

/* .st2{font-family:'Montserrat-SemiBold';}
.st3{font-size:149.0359px;}
.st4{font-family:'Montserrat-Regular';} */




/*
====================Landscape-View====================
======================================================
*/



@media screen and (min-aspect-ratio: 650/1000) {
    .main-text {
        width: calc(100%);
        padding: 0;
        margin: 0;
        /* border: 5px solid var(--yellow); */
        /* opacity: 50%; */
        /* background: var(--blue); */
        transform: translateY(-50%);
        position: absolute;
        /* left: 50%; */
        top: 50%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 8vmin;
        color: var(--front);
        /* text-align: center; */
        display: inline-block;
    }

    #preloader-image {
        max-width: 40%;
        max-height: 50%;
        transform: translate(-50%, -50%) translateY(-20%);
    }

    #preloader-text {
        font-size: 7vmin;
        transform: translateY(+200%);
    }

    /* preloader-text on no load of preloader-image */
    #preloader-text-nl {
        transform: translateY(0);
        font-size: 6vmin;
        line-height: 2vmin;
    }

    #pl-not-loading {
        width: 60vw;
        left: 50%;
        font-size: 2vmin;
        font-weight: 300;
        transform: translateX(-50%) translateY(+35%);
    }

    .logo {
        width: 10vw;
        position: fixed;
        bottom: 0;
        left: 0%;
        /* transform: translateY(-100%); */
        /* border: 5px solid var(--yellow); */
        margin: 0 0 0% 0.6%;
    }

    #theme-toggle-icon {
        font-size: 2.5vmin;
        margin: 0 1.5% 1.5% 0;
    }
}




/*
=====================Portrain-View=====================
=======================================================
*/




@media (max-aspect-ratio: 650/1000) {
    .main-text {
        /* width: calc(100% - 25px); */
        padding: 0;
        margin: 0;
        /* opacity: 50%; */
        /* background: var(--blue); */
        transform: translateY(-50%);
        position: absolute;
        /* left: 50%; */
        top: 50%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 8vmin;
        color: var(--front);
        /* text-align: center; */
    }

    #preloader-image {
        width: 70vw;
        transform: translate(-50%, -50%) translateY(-20%);
    }

    #preloader-text {
        transform: translateY(+225%);
    }

    /* preloader-text on no load of preloader-image */
    #preloader-text-nl {
        transform: translateY(0);
        font-size: 9vmin;
        line-height: 6vmin;
    }

    #pl-not-loading {
        width: 60vw;
        left: 50%;
        font-size: 4vmin;
        font-weight: 300;
        transform: translateX(-50%) translateY(+35%);
    }

    .logo {
        width: 20vw;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-35%);
        margin-bottom: 4%;
    }

    #theme-toggle-icon {
        font-size: 5vmin;
        margin: 0 4% 4% 0;
    }

}