@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,600&display=swap');
/* @font-face{
	font-family: 'Montserrat-SemiBold';
		src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
	font-family: 'Montserrat-Regular';
		src: url('fonts/Montserrat-Regular.ttf') format('truetype');
} */

p {
    margin: 0;
}

p+p {
    margin-top: 10px;
}

body,
html {
    height: calc(100%-10px);
    width: calc(100%-10px);
    /* border: 5px solid #CDDD51; */
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
/* 
body {
    background: #000000;
} */

#home{
    background: #000;
    position: absolute;
    /* margin: 0; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: -1;
    /* border: 5px solid #CDDD51; */

}

#home-bg{
    /* width: 50%; */
    /* max-width: 200%; */
    max-height: 80%;
    width: auto;
    height: auto;
    /* position: absolute; */
    /* left: 50%; */
    top: 0%;
    left: 50%;
    /* transform: translatex(-50%); */
    /* border: 5px solid #CDDD51; */
    z-index: -1;
}

#home-bg-overlay{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    opacity: 75%;
    /* border: 5px solid #CDDD51; */
    z-index: 1;
}

#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 9999;
}

/* #preloader-text{
    /* border: 5px solid #CDDD51; 
} */

#preloader-text p{
    text-align: center;
}

.loading-dots{
    opacity: 0;
}

@keyframes dotdotdot{
    0%{
        content:"";
    }
    25%{
        content:".";
    }
    50%{
        content:"..";
    }
    75%{
        content:"...";
    }
    100%{
        counter:""
    }
}

/* 
#preloader-content{
	width:100%;
	height: 100%;
	/* display: none; 
} */

#preloader-image {
    /* background-image: url("preloader.gif"); */
    /* background-repeat: no-repeat; */
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 50%;
}

#preloader-text {
    width: calc(100%);
    padding: 0;
    margin: 0;
    /* opacity: 50%; */
    /* background: #0056c4; */
    position: absolute;
    /* left: 50%; */
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.st0 {
    fill: #0056c4;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #e86600;
}

.st3 {
    fill: #CDDD51;
}

/* .st2{font-family:'Montserrat-SemiBold';}
.st3{font-size:149.0359px;}
.st4{font-family:'Montserrat-Regular';} */

@media screen and (min-aspect-ratio: 650/1000) {
    .main-text {
        width: calc(100% - 25px);
        padding: 0;
        margin: 0;
        /* opacity: 50%; */
        /* background: #0056c4; */
        transform: translateY(-50%);
        position: absolute;
        /* left: 50%; */
        top: 50%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 6vw;
        color: #FFFFFF;
        text-align: center;
    }

    #preloader-image {
        width: 40%;
        transform: translate(-50%, -50%) translateY(-20%);
    }

    #preloader-text {
        font-size: 4vw;
        transform: translateY(+300%);
    }
    /* preloader-text on no load of preloader-image */
    #preloader-text-nl{
        transform: translateY(0);
        font-size: 6vw;
        line-height: 2vw;
    }
   
    #pl-not-loading{
        width: 60vw;
        left: 50%;
        font-size: 2vw;
        font-weight: 300;
        transform: translateX(-50%) translateY(+35%);
    }

    .logo {
        width: 10%;
        position: fixed;
        bottom: 0;
        left: 0%;
        /* transform: translateY(-100%); */
        /* border: 5px solid #CDDD51; */
        margin:0 0 0.3% 0.5%;
    }
}

@media (max-aspect-ratio: 650/1000) {
    .main-text {
        width: calc(100% - 25px);
        padding: 0;
        margin: 0;
        /* opacity: 50%; */
        /* background: #0056c4; */
        transform: translateY(-50%);
        position: absolute;
        /* left: 50%; */
        top: 50%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 8vw;
        color: #FFFFFF;
        text-align: center;
    }

    #preloader-image {
        width: 70%;
        transform: translate(-50%, -50%) translateY(-20%);
    }

    #preloader-text {
        transform: translateY(+225%);
    }

    /* preloader-text on no load of preloader-image */
    #preloader-text-nl{
        transform: translateY(0);
        font-size: 9vw;
        line-height: 6vw;
    }

    #pl-not-loading{
        width: 60vw;
        left: 50%;
        font-size: 4vw;
        font-weight: 300;
        transform: translateX(-50%) translateY(+35%);
    }

    .logo {
        width: 20%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 1.5%;
    }
}