html{
	height: 100%;
	width: 100%;
}
body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
	background: #000000;
	display: grid;
	grid-template-columns: auto;	
}

.splash-text-hi{
	position: absolute;
    top: 50%;
    left: 50%;
	font-family:'Montserrat-Regular';
	font-size: 4vw;
	color: #FFFFFF;
	text-align: center;
    transform: translateX(-50%) translateY(-250%);
}

.splash-text-name{
	position: absolute;
    top: 50%;
    left: 50%;
	font-family:'Montserrat-Regular';
	font-size: 4vw;
	color: #FFFFFF;
	text-align: center;
	transform: translateX(-50%) translateY(-250%);
	opacity: 0;
}

.logo{
	width:10%;
	position: absolute;
    top: 100%;
	left: 0%;
	transform: translateY(-100%) translateX(10px) translateY(-10px);
}

@font-face{
	font-family: 'Montserrat-SemiBold';
		src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
	font-family: 'Montserrat-Regular';
		src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

.st0{fill:#CDDD51;}
.st1{fill:#FFFFFF;}
.st2{font-family:'Montserrat-SemiBold';}
.st3{font-size:149.0359px;}
.st4{font-family:'Montserrat-Regular';}

